In [5]:
from AzureFileSystem import AzureFileSystem

In [6]:
class FileSystemControl():
    meta_data = "file_system_ingestion_meta_data.xlsx"
    def __init__(self, sheet_name = ''):
        self.sheet_name = sheet_name

    def preprocess_columns(self, df = pd.DataFrame()):
        try:
            for col in df.columns:
                if df[col].dtype == object:
                    df[col] = df[col].str.strip()
            return df
        except:
            print(traceback.format_exc())
            return 'preprocess_column failed'
    def fetch_active_file_system(self):
        fetch_fs = pd.read_excel(FileSystemControl.meta_data, sheet_name = self.sheet_name)
        fetch_fs = fetch_fs[fetch_fs['isActive']==1]
        fetch_fs = self.preprocess_columns(fetch_fs)

        return fetch_fs
    def ingestion_process(self):
        file_systems_df = self.fetch_active_file_system()
        for row in file_systems_df.itertuples():
            if getattr(row,'file_systems') == 'Azure ADLS':
                # print("We are in azure")
                account_details = 'azure_accounts_details'
                azure_files = 'azure_files_details'
                az_fs = AzureFileSystem(account_sheet = account_details, files_sheet = azure_files)
                az_fs.azure_file_ingestion()
            elif getattr(row,'file_systems') == 'AWS S3':
                print("We are in AWS")
            elif getattr(row,'file_systems') == 'GCP Storage':
                print("We are in GCP")
            else:
                print("Random File System")

In [7]:
if __name__ == '__main__':
    file_systems = 'filesystem_details'
    file_ingestion = FileSystemControl(sheet_name = file_systems)
    file_ingestion.ingestion_process()

CSV
   id         value
0   1   First value
1   2  Second value
2   3   Third value
3   4  Fourth value
Table 'other_table_az_1' extracted and saved as 'other_table_az_1.csv'.
CSV
   id             name  age grade
0   1         John Doe   18     A
1   2       Jane Smith   17     B
2   3  Michael Johnson   16     A
3   4      Emily Davis   18     A
Table 'students_az_3' extracted and saved as 'students_az_3.csv'.
CSV
   id             name      subject  salary
0   1         John Doe  Mathematics  5000.0
1   2       Jane Smith      English  4500.0
2   3  Michael Johnson      Science  4800.0
3   4      Emily Davis      History  4200.0
Table 'teachers_az_5' extracted and saved as 'teachers_az_5.csv'.
CSV
   id            name  age                      email
0   1        John Doe   25        johndoe@example.com
1   2      Jane Smith   32      janesmith@example.com
2   3  Robert Johnson   28  robertjohnson@example.com
3   4     Emily Davis   29     emilydavis@example.com
4   5   Michael Brown   31   michaelbrown@example.com
5   6  Jessica Wilson   27  jessicawilson@example.com
6   7  David Thompson   24  davidthompson@example.com
Table 'table_az1_az_6' extracted and saved as 'table_az1_az_6.csv'.
CSV
   id product_name  price  quantity    category  date_added
0   1    Product A   9.99        10  Category 1  2022-01-01
1   2    Product B  19.99         5  Category 2  2022-02-05
2   3    Product C  14.99         8  Category 1  2022-03-10
3   4    Product D  12.99        12  Category 3  2022-04-15
4   5    Product E   7.99         3  Category 2  2022-05-20
5   6    Product F  29.99         6  Category 3  2022-06-25
6   7    Product G  11.99         4  Category 1  2022-07-30
7   8    Product H  17.99         9  Category 2  2022-08-05
Table 'table_az4_az_9' extracted and saved as 'table_az4_az_9.csv'.
CSV
   id            name  age                      email
0   1        John Doe   25        johndoe@example.com
1   2      Jane Smith   32      janesmith@example.com
2   3  Robert Johnson   28  robertjohnson@example.com
3   4     Emily Davis   29     emilydavis@example.com
4   5   Michael Brown   31   michaelbrown@example.com
5   6  Jessica Wilson   27  jessicawilson@example.com
6   7  David Thompson   24  davidthompson@example.com
Table 'table_az1_az_10' extracted and saved as 'table_az1_az_10.csv'.
CSV
   id             name      subject  salary
0   1         John Doe  Mathematics  5000.0
1   2       Jane Smith      English  4500.0
2   3  Michael Johnson      Science  4800.0
3   4      Emily Davis      History  4200.0
Table 'teachers_az_14' extracted and saved as 'teachers_az_14.csv'.

Parquet
   id         value
0   1   First value
1   2  Second value
2   3   Third value
3   4  Fourth value
Table 'other_table_az_2' extracted and saved as 'other_table_az_2.csv'.
Parquet
   id             name  age grade
0   1         John Doe   18     A
1   2       Jane Smith   17     B
2   3  Michael Johnson   16     A
3   4      Emily Davis   18     A
Table 'students_az_4' extracted and saved as 'students_az_4.csv'.
Parquet
   id            name  age                      email
0   1        John Doe   25        johndoe@example.com
1   2      Jane Smith   32      janesmith@example.com
2   3  Robert Johnson   28  robertjohnson@example.com
3   4     Emily Davis   29     emilydavis@example.com
4   5   Michael Brown   31   michaelbrown@example.com
5   6  Jessica Wilson   27  jessicawilson@example.com
6   7  David Thompson   24  davidthompson@example.com
Table 'table_az1_az_7' extracted and saved as 'table_az1_az_7.csv'.
Parquet
   id    category    description  active
0   1  Category 1  Description 1       1
1   2  Category 2  Description 2       0
2   3  Category 1  Description 3       1
3   4  Category 3  Description 4       1
4   5  Category 2  Description 5       0
5   6  Category 3  Description 6       0
6   7  Category 1  Description 7       1
7   8  Category 2  Description 8       1
Table 'table_az3_az_8' extracted and saved as 'table_az3_az_8.csv'.
Parquet
   id            name  age                      email
0   1        John Doe   25        johndoe@example.com
1   2      Jane Smith   32      janesmith@example.com
2   3  Robert Johnson   28  robertjohnson@example.com
3   4     Emily Davis   29     emilydavis@example.com
4   5   Michael Brown   31   michaelbrown@example.com
5   6  Jessica Wilson   27  jessicawilson@example.com
6   7  David Thompson   24  davidthompson@example.com
Table 'table_az1_az_11' extracted and saved as 'table_az1_az_11.csv'.
Parquet
   id            name  age                      email       address
0   1        John Doe   25        johndoe@example.com   123 Main St
1   2      Jane Smith   32      janesmith@example.com    456 Elm St
2   3  Robert Johnson   28  robertjohnson@example.com    789 Oak St
3   4     Emily Davis   29     emilydavis@example.com   321 Pine St
4   5   Michael Brown   31   michaelbrown@example.com  654 Cedar St
5   6  Jessica Wilson   27  jessicawilson@example.com  987 Maple St
6   7  David Thompson   24  davidthompson@example.com  741 Birch St
Table 'table_ss_1_az_12' extracted and saved as 'table_ss_1_az_12.csv'.
Parquet
   id  employee_id   department  salary   hire_date
0   1         1001        Sales  5000.0  2021-01-05
1   2         1002           HR  4500.0  2021-02-10
2   3         1003           IT  6000.0  2021-03-15
3   4         1004      Finance  5500.0  2021-04-20
4   5         1005   Operations  4800.0  2021-05-25
5   6         1006    Marketing  5200.0  2021-06-30
6   7         1007  Engineering  6500.0  2021-07-05
Table 'table_ss_3_az_13' extracted and saved as 'table_ss_3_az_13.csv'.